page-home {

  
  .card{
      align-items: center;
      align-content: center;
      text-align: center;

  }
img{
    height: 62vh;
}
h1{
    font-family: 'Oleo Script Swash Caps', cursive;
   
}
.button{
    border-radius: 20px;
}

}

